/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
input,button,textarea{
    font-family:inherit;
    outline: none;
    border: none;
}
input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}
button,select{cursor: pointer;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {  display: none;}
input::-webkit-outer-spin-button,   /* убрать стрелочки у type: number */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Vogue';
    src: url("../fonts/vogue-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Druk Wide Cy Bold';
    src: url("../fonts/DrukWideCyBold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Vogue", sans-serif;
    --font3: "Inter", sans-serif;
    --font4: "Inter Variable", sans-serif;
    --font5: "Druk Wide Cy", sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background: #001206;
}
.index-bg{
    background-image: url("../images/index-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pc-br{
    display: block;
}
.mb-br{
    display: none;
}
.index-main{
    height: calc(100vh - 280px);
    padding: 100px 80px;
    position: relative;
}
.main-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    max-width: 765px;
    z-index: 2;
}
.main-container {
    max-width: 628px;
    position: relative;
    z-index: 3;
}

.main-title-wrapper {
    position: relative;
    margin-bottom: 25px;
}
.main-title-img{
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
}

.main-title {
    font-family: var(--third-family),sans-serif;
    font-weight: 400;
    font-size: 73px;
    color: #fff;
}

.main-text-wrapper {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #00ff59;
    margin-bottom: 10px;
}

.main-text {
    font-family: var(--second-family),sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 200%;
    text-align: center;
    color: #fff;
}
.main-text-img-1{
    position: absolute;
    top: 0;
    left: 0;
}
.main-text-img-2{
    position: absolute;
    bottom: 15px;
    right: 0;
}
.main-authors {
    margin-bottom: 45px;
}

.main-author {
    display: flex;
    align-items: center;
    font-family: var(--font3),sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}

.main-author-name {
    margin-right: 5px;
}

.email-form {
}

.email-form-title {
    font-family: var(--third-family),sans-serif;
    font-weight: 400;
    font-size: 53px;
    color: #fff;

    margin-bottom: 15px;
}

.email-input-container {
    display: flex;
    width: 100%;
    max-width: 628px;
    backdrop-filter: blur(54.5333366394043px);
    background: rgba(211, 139, 58, 0);
    border: 1.33px solid #00ff59;
    border-radius: 19px;
    height: 76px;
    padding: 16px;
}

.email-input-container input {
    flex: 1;
    border: none;
    background: transparent;

    font-family: var(--second-family),sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}
.email-input-container input::placeholder{
    opacity: 0.8;
}
.email-input-container button {
    width: 100%;
    max-width: 178px;
    border-radius: 12px;
    box-shadow: 0 0 35px 0 rgba(0, 255, 89, 0.32);
    background: #34ce6a;

    font-family: var(--second-family),sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}
.bottom-left-img{
    display: none;
    position: absolute;
    left: 0px;
    bottom: 10px;
}
.bottom-center-img{
    display: none;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.bottom-right-img{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
}
.main-mobile-wrapper  > img{
    display: none;
}
.top-left-img{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.top-right-img{
    position: absolute;
    display: none;
    top: 73px;
    right: 0;
}

















































/*footer*/
.footer {
    padding: 40px;
    height: 280px;

    backdrop-filter: blur(26.600000381469727px);
    background: linear-gradient(180deg, rgba(25, 190, 83, 0.04) 0%, rgba(25, 139, 65, 0.04) 100%);
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 100px;
}
.footer-content-subtitle {
    font-family: var(--font-family),sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;

    margin-bottom: 5px;
}

.footer-content-title {
    font-family: var(--font-family),sans-serif;
    font-weight: 500;
    font-size: 39px;
    line-height: 122%;
    color: #fff;
}

.footer-content-mail-copy-wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.footer-content-mail-copy {
    font-family: var(--font-family),sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 275%;
    color: #fff;
}

.footer-content-mail-copy-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content-copyright {
    display: flex;
    align-items: center;
    column-gap: 30px;
    flex-wrap: wrap;
}

.footer-content-copyright-text {
    font-family: var(--font-family),sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 178%;
    color: #fff;
}

.footer-content-copyright-link {
    font-family: var(--font-family),sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 178%;
    color: #fff;

    transition: all .3s ease;
}
.footer-content-copyright-link:hover{
    color: #5C8369;
}
.footer-socials-title {
    font-family: var(--font-family),sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 100%;
    color: #fff;
}

.footer-socials-address {
    font-family: var(--font-family),sans-serif;
    font-weight: 300;
    font-size: 21px;
    line-height: 120%;
    color: #fff;

    margin-bottom: 15px;
}

.footer-socials-phone {
    font-family: var(--font-family),sans-serif;
    font-weight: 600;
    line-height: 100%;
    font-size: 19px;
    color: #fff;

    display: block;
    margin-bottom: 20px;
    transition: all .3s ease;
}
.footer-socials-phone:hover{
    color: #5C8369;
}
.footer-socials-icons {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.footer-socials-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-socials-icon:hover svg g ellipse{
    fill: #5C8369;
    transition: all .3s ease;
}
.footer-socials-icon:nth-child(1):hover svg g path{
    fill: #5C8369;
    transition: all .3s ease;
}
.footer-socials-icon:nth-child(3):hover svg g path:not(:first-child){
    fill: #5C8369;
    transition: all .3s ease;
}
.footer-socials-icon:hover svg rect{
    fill: #5C8369;
    transition: all .3s ease;
}
.main-mobile-image{
    display: none;
}

























